.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 480px;
  width: 280px;
  border: solid 2px rgb(0, 0, 0);
  background-color:rgb(233, 202, 161);
  border-radius: 15px;
  position: relative;
}

.poster {
  margin-top: 8px;
  height: 400px;
  width: 265px;
  border-radius: 15px;
}

.title {
  height: 60px;
  text-align: center;
  margin: 5px;
  overflow: scroll;
  position: absolute;
  top: 415px;
}