header {
  background-color: rgb(42, 37, 37);
  position: relative;
  height: 100px;
}

.title {
  margin-top:10px;
  margin-left:45px;
  width:400px;
}

.logo {
  width: 125px;
  position: absolute;
  right: 25px;
  bottom: 20px;
}