header {
  background-color: rgb(42, 37, 37);
  position: relative;
  height: 100px;
  border-bottom: 3px solid #C20000;
}

.title-logo {
  margin-top: 10px;
  margin-left: 45px;
  width: 400px;
  position: absolute;
  top: 0px;
}

.logo {
  width: 125px;
  position: absolute;
  right: 25px;
  bottom: 20px;
}